<h1> Turbo Potato!</h1>

<section class="ride-new">
  <div class="ride-new-title">Want a ride?</div>
  <div>
    <%= button_to 'Create', new_ride_path, method: 'get', class: 'ride-new-create' %>
  </div>
</section>

<section class="rides">
  <div class="rides-title"></div>
  <table class="rides-list">
    <thead>
      <tr>
        <th>Code</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>state</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Code</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>state</th>
        <th>Actions</th>
      </tr>
    </tfoot>
    <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= link_to ride.code, ride_path(ride)  %></td>
        <td><%= ride.from %></td>
        <td><%= ride.to %></td>
        <td><%= ride.state %></td>
        <td>
        <% if ride.created? %>
          <%= link_to 'Start', ride_start_ride_path(ride, id: ride.id), method: :put %>
        <% end %>
        <% if ride.created? || ride.started? %>
          <%= link_to 'Cancel', ride_cancel_ride_path(ride, id: ride.id), method: :put %>
        <% end %>
        <%= link_to 'Remove', ride_path(ride, id: ride.id), method: 'delete', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
